---
---

$primary: #008cdc;
$navLinkDefault: #777;
$bodyDefault: #555;
$navLinkHover: #333;
$linkDefault: #555;
$linkHover: #222;
@import "normalize";
body {
  background: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
}
h1 {
  font-size: 48px;
  color: $primary;
  &.mini {
    font-size: 36px;
  }
}
h2 {
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  color: #333;
}
h3 {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  color: #333;
}
p.body {
  color: $bodyDefault;
  font-size: 14px;
  line-height: 1.5;
}
p.caption {
  margin: 0;
  font-size: 14px;
  color: #888;
}
.link {
  text-decoration: underline;
  font-size: 14px;
  color: $linkDefault;
  font-weight: 600;
  &:hover {
    color: $linkHover;
  }
}
.layout {
  max-width: 980px;
  margin: 0px auto;
  @media all and (max-width: 980px) {
    padding: 0px 20px;
  }
}
.nav {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav .navlink {
  display: inline-block;
  margin: 0px 10px;
  &:last-child {
    margin-right: 0;
  }
  text-decoration: none;
  color: $navLinkDefault;
  font-size: 14px;
  &:hover {
    cursor: pointer;
    color: $navLinkHover;
  }
  &.active {
    color: $navLinkHover;
    font-weight: bold;
  }
}
.content {
  margin-top: 200px;
  min-height: 500px;
}
.footer {
  background-color: #f6f6f6;
  padding: 20px 0px;
  .layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.github-icon {
  width: 25px;
  opacity: 0.4;
  &:hover {
    cursor: pointer;
    opacity: 0.6;
  }
}
.intro {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 480px;
  .pro-title {
    margin: 5px 0px;
  }
  .divider {
    margin-top: 13px;
  }
}
.hike {
  width: 100%;
}
.work-card {
  min-width: 580px;
  width: 400px;
  margin: 50px auto;
  background-color: #f5f5f5;
  border-radius: 2px;
  padding: 40px;
  img {
    width: 100%;
  }
}
.work-card .work-hero {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
